* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  img {
    vertical-align: middle;
  }
  ul,
  li {
    list-style: none;
  }
  /**/
  .wrap {
    width: 100%;
    overflow: hidden;
    /* width: 1920px; */
    margin: 0 auto;
  }
  .inner {
    padding: 0 402px;
    box-sizing: border-box;
  }
  .title { 
    font-size: 35px;
    font-weight: 900;
    letter-spacing: -0.5px;     
  }
  /*공통 */
  
  .header {
    position: relative;
    margin: 0 auto;
    width: 1920px;
    height: 100%;
    color: rgba(255, 255, 255, 0.8);
  }
  .headerImg {
    width: 100%;
    height: 100%;
  }
  .headerP {
    position: absolute;
    top: 259px;
    left: 473px;
  }
  .headerP img {
    width: 222px;
    padding-bottom: 57px;
  }
  .headerP p {
    font-size: 30px;
    margin-left: 1.5px;
    line-height: 1.75;
    font-weight: 500;
  }
  .header .bnt {
    display: inline-block;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0.4px;
    position: absolute;
    bottom: 222px;
    right: 431px;
    color: #fff;
    border: solid 2.65px #fff;
    border-radius: 30px;
    padding: 11px 15px;
    transition: all 0.2s;
  }
  .header .bnt:hover,
  .header .bnt:focus {
    border-radius: 0;
    border: 1px solid transparent;
    border-bottom: solid 2.65px #fff;
    transition: all 0.2s;
  }
  /*header*/
  
  .company {
    position: relative;
    height: 100%;
    line-height: 1.4;
    letter-spacing: -0.4px;
    margin: 71px 0 118px;
  }
  .company .textIcon {
    width: 90px;
    padding-bottom: 10px;
    margin-top: 7px;
  }
  .company .headtext {
    margin-left: 1px;
    padding-bottom: 11.5px;
  }
  .company .headtext h2 {
    font-size: 39px;
  }
  .company .headtext h2 span {
    letter-spacing: 1.3px;
  }
  .company .headtext h1 {
    margin-left: -5px;
    text-transform: uppercase;
    letter-spacing: -1.2px;
    line-height: 1.07;
    font-weight: 800;
    font-size: 72.8px;
    padding-bottom: 57px;
  }
  .company .textbox {
    height: 471px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  .company .textbox p {
    font-size: 30px;
    color: #2c2c2c;
    letter-spacing: -1.4px;
    line-height: 1.3;
  }
  /*company*/
  
  .deployment {
    margin-bottom: 192px;}
  .deployment .inner .title {
    margin-left:-2px;
    padding-bottom: 18px;
    }
  .deployment .inner ul {
      display: flex;
      justify-content: space-between;
      width: 1173px;
  }
  .deployment .inner ul li {
    width: 276px; height: 276px;
  }
  .deployment .inner ul li:first-child{
      padding-right: 2px;
      width: 270px; height: 270px;
      padding-top: 3px;
    }
  .deployment .inner ul li span {
    position: relative;
    display: block;
  }
  .deployment .inner ul li span img {
    width: 100%;
  }
  .deployment .inner ul li span p {
    position: absolute;
    font-size: 30px;
    bottom: 41px; left: 50%;
    transform: translateX(-49%);
    white-space: nowrap;
    letter-spacing: -0.6px;
  }
  /*deployment*/

  .jifit {
    position: relative;
    height: 1242px;
  }
  .jifit .bg {
      position: absolute;
      z-index: 1;
      top: 0; width: 941px;
  }
  .jifit .inner {
    position: absolute;
    z-index: 10;
  }
  .jifit .inner .title {padding: 72px 0 82px;}
  .jifit .inner .box img {
    position: static;
    width: 182px; height: 90px;
  }
  .jifit .inner .box p {
    color: #555555;
    opacity: 0.8;
    margin: 13.5px 0 0 -5px;
    font-size: 20px;
    letter-spacing: -0.6px;
  }
  .jifit .inner .box p span {
    color: #333;
    opacity: 0.8;
    font-weight: 600;
  }
  .jifit .inner .product {
    position: absolute;
    top: 71px; right: 260px;
    width: 891px;
  }
  .jifit .inner .schematization {
    width: 1114px;
    margin: 346px 7.5px 0;
  }
  /*jifit*/

 .list {
   position: relative;
   margin: 0 auto;
   margin-top: 137px;
   height: 1010px;
  }
  .list .bg {
   position: absolute;
   right: 0; top: -250px; 
   width: 1135px; height: 1260px;
   z-index: 1;
  }
  .list .inner .listbox {
    position: absolute;
   margin: 27px -4px 0;
   z-index: 10;
  }
  .list .inner .listbox ul  {
    width: 1143px; height: 753px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  .list .inner .listbox ul li {
    background-color: #ececec;
    width: 363px; height: 363px;
    border: solid 1px #8f8f8f;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .list .inner .listbox ul li span {
    margin: 0 20px;
  }
  .list .inner .listbox ul li img {
    width: 100%;
  }
  /*list*/

  .homefooter {
    background: #333;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 112px;
  }
  .homefooter .centerbox {
    text-align: center;
    padding-top: 35px;
  }
  .homefooter .centerbox h2 {
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 24px;
    margin-bottom: 17px;
    position: relative;
    display: inline-block;
  }
  .homefooter .centerbox h2::after {
    content: '';
    background: #fff;
    position: absolute;
    height: 2px; width: 51px;
    bottom: 0; right: 50%;
    transform: translateX(50%);
  }
  .homefooter .centerbox p {
    font-size: 26px;
    padding-bottom: 35px;
  }
  .homefooter .centerbox .map {
    height: 465px; width: 609px;
    margin-bottom: 84px;
  }
  