
<style>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

* {
  padding: 0; margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
img {vertical-align: middle;}
ul,
li {list-style: none;}
/**/
.wrap {
  background: #aaa;
  width: 100%;
  overflow: hidden;
}
.inner {
  width: 1130px;
  margin: 0 auto;
}
.text {
  box-sizing: border-box;
  padding: 0 185px;
  margin: 40px auto 0;
}
.h {
  font-size: 18px;
  font-weight: 900;
}
/*공통 */

.header {
  position: relative;
  margin: 0 auto;
  width: 1130px; height: 100%;
  color: rgba(255, 255, 255, 0.8);
}
.headerImg {width: 100%; height: 510px;}

.headerP {
  position: absolute;
  top: 140px; left: 235px;
}
.headerP img {
  width: 115px;
  padding-bottom: 28px;
}
.headerP p {
  letter-spacing: -0.4px;
  line-height: 1.6;
  font-weight: 700;
}
.header .bnt {
  display: inline-block;
  font-size: 12px;
  position: absolute;
  bottom: 135px; right: 20%;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  border: solid 1.5px rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  padding: 5px 9px 8px;
  transition: all 0.2s;
}
.header .bnt:hover,
.header .bnt:focus {
  font-size: 13px;
  border-radius: 0;
  border: 1px solid transparent;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.8);
  transition: all 0.2s;
}
/*header*/

.company {
  position: relative;
  height: 100%;
  line-height: 1.3;
  letter-spacing: -0.4px;
}
.company .textIcon {
  width: 40px;
  padding-bottom: 8px;
}
.company .text h3 {font-size: 20px;}
.company .text h3 span {letter-spacing: 1.5px;}
.company .text h2 {
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 800;
  font-size: 37.2px;
  padding-bottom: 30px;
}
.company .text p {
  font-size: 15px;
  color: #2c2c2c;
  padding-bottom: 20px;
  letter-spacing: -0.6px;
}
.company .deployment .text .h {
  font-size: 18px;
  font-weight: 900;
  padding-bottom: 10px;
}
</style>
