
  .back {
    position: absolute;
    top: 0;
    height: 2313px;
  }
  .back img {
    width: 100%; height: 100%;
  }
  .headerbox {
    position: relative;
    height: 653.1px;
  }
  .headerbox > img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .headerbox .toplogobox {
    position: absolute;
    left: 475px; top: 276.9px;
    color: #fff799;
  }
  .headerbox .toplogobox img {
    width: 137.5px;
  }
  .headerbox .toplogobox h1 {
    margin-left: -5px;
    font-size: 75px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: -1.1px;
  }
  .midbox {
  position: relative;
  margin: 179px 0 308px 328px;
  width: 1264px; height: 804px;
}
.midbox ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.midbox ul li {
  overflow: hidden;
  border: solid 1px #333;
  box-sizing: border-box;
  width: 402px; height: 402px;
  margin-bottom: 30px;
}
.midbox ul li a {
  display: block;
  position: relative;
  width: 100%; height: 100%;
}
.midbox ul li a img {
  width: 100%; height: 100%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.midbox ul li:nth-child(1) a img {margin-left: 10px;} 
.midbox ul li:nth-child(3) a img , 
.midbox ul li:nth-child(4) a img {
  width: 90%; height: 70%;
}
.midbox ul li a span {
  display: none;
}
.midbox ul li a:hover::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.midbox ul li a:hover span {
  position: absolute;
  display: block;
  top: 50%;
  width: 100%; height: 100%;
  font-size: 30px;
  color: #fff;
  text-align: center;
  z-index: 2;
}
/**/
.footer {
position: relative;
}